
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 0;
  background-color: #646cff;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav a {
  color: white;
  text-decoration: none;
  gap: 1rem;
  margin: 0.5rem;
}

.nav a:hover {
  text-decoration: underline;
}

.nav a.active {
  text-decoration: underline;
  font-weight: bolder;
}