.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
  padding: 2rem;
  font-family: Arial, sans-serif;
}


.header {
  width: 100%;
  padding: 1rem 0;
  background-color: #646cff;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}